*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.card{
  background-color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  letter-spacing: 1px;
}

h2{
  font-family: "IBM Plex Serif" , serif;
}

span{
  text-transform: capitalize;
  font-weight: bold;
}

.form{
  outline: none;
  border-bottom: 2px solid #222;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  width: 400px;
  border-radius: 4px;
  color: #222;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 600 ;
  letter-spacing: 1px;

}

.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  margin: auto;
  margin-bottom: 30px;
}
.pagination p{
  font-size: 17px;
  letter-spacing: 1px;
}

.pagination button{
  background: #222;
  color: #fff;
  padding: 12px 18px;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 4px;
}